*, ::before, ::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    width: 100%;
}

body {
    margin: 0;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}